.article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 24px;
	max-inline-size: var(--container-width, auto);
	margin: 0 auto;
	padding: 72px 0 144px;
}

.titleDescription {
	max-inline-size: 550px;
}

.image {
	inline-size: 100%;
	block-size: auto;
	margin-top: 26px;
}
